Package: com.socuul.scinsta
Name: SCInsta
Version: 1.0.0
Architecture: iphoneos-arm
Description: A feature-rich tweak for Instagram on iOS!
Maintainer: SoCuul
Author: SoCuul
Section: Tweaks
Depends: mobilesubstrate